@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scroll-smooth;
}
:root {
  @apply relative max-h-screen overflow-y-scroll;
  color: #f2f4f8;
  background-color: #1a1a22;
}
.text-border-black {
  -webkit-text-stroke: 1.2px #2e2e2e;
}
.text-border-white {
  -webkit-text-stroke: 1.2px #f2f4f8;
}

@font-face {
  font-family: "popins";
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

:root[data-theme="light"] {
  color: #2e2e2e;
  background-color: #f2f4f8;
}

:root[data-theme="dark"] {
  color: #f2f4f8;
  background-color: #1a1a22;
}

.react {
  @apply animate-spin;
}
.node {
  @apply animate-glow;
}
.mongo {
  @apply animate-spinAndBlink;
}
.docker {
  @apply animate-wave;
}
.tailwind {
  @apply animate-wave;
}