@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-3;
}


::-webkit-scrollbar-track {
	@apply bg-transparent;
}


::-webkit-scrollbar-thumb {
	@apply bg-light;
	@apply rounded-s-md;
}

body {
  @apply scroll-smooth overflow-x-hidden;
}
:root {
  @apply relative max-h-screen overflow-x-hidden;
  color: #f2f4f8;
  background-color: #1a1a22;
}
.text-border-black {
  -webkit-text-stroke: 1.2px #2e2e2e;
}
.text-border-white {
  -webkit-text-stroke: 1.2px #f2f4f8;
}

@font-face {
  font-family: "popins";
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

:root[data-theme="light"] {
  color: #2e2e2e;
  background-color: #fef2f2;
}

:root[data-theme="dark"] {
  color: #f2f4f8;
  background-color: #1a1a22;
}

.react {
  @apply animate-spin;
}
.node {
  @apply animate-glow;
}
.mongo {
  @apply animate-spinAndBlink;
}
.docker {
  @apply animate-wave;
}
.tailwind {
  @apply animate-wave;
}

.mybtn {
  position: relative;
  overflow: hidden;
}

.mybtn span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #b5a1ff, #5a4da3);
  animation: animate1 4s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.mybtn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to right, #b5a1ff, #5a4da3);
  animation: animate2 4s linear infinite;
  animation-delay: 2s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.mybtn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #b5a1ff, #5a4da3);
  animation: animate3 4s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mybtn span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to right, #b5a1ff, #5a4da3);
  animation: animate4 4s linear infinite;
  animation-delay: 2s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
