@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scroll-smooth;
}
:root {
  @apply relative max-h-screen overflow-y-scroll;
  color: #f2f4f8;
  background-color: #1a1a22;
}
.text-border-black {
  -webkit-text-stroke: 1.2px #2e2e2e ;
}
.text-border-white {
  -webkit-text-stroke: 1.2px #f2f4f8;
}

@font-face {
  font-family: "popins";
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

:root[data-theme="light"] {
  color: #2e2e2e;
  background-color: #f2f4f8;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

:root[data-theme="dark"] {
  color: #f2f4f8;
  background-color: #1a1a22;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
